<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" href="/css/fieldset.css">
</head>
<body>
    <form>
    <nav id="mysidemenu" class="navigation">
  <ul class="mainmenu">
    <a href="javascript:void(0)" class="close" onclick="closeSM()">&times;</a>
    <li><a href="">Home</a>
      <ul class="submenu">
        <li><a href="/manage">Manage page</a></li>
        <li><a href="/">Homepage</a></li>
      </ul>
    </li>
    </li>
    <li><a href="">Users</a>
      <ul class="submenu">
        <li><a href="/user">Manage</a></li>
        <li><a href="/user/add">Add</a></li>
      </ul>
    </li>
    <li><a href="">Products</a>
      <ul class="submenu">
        <li><a href="/product">Manage</a></li>
        <li><a href="/product/add">Add</a></li>
      </ul>
    </li>
    <li><a href="/login">Logout</a></li>
  </ul>
</nav>
<div class="content">
        <div style="font-size: 50px; cursor: pointer; color: 5b5b5b" onclick="openSM()">&#9776;</div>
    </div> 
    <script type="text/javascript">
       function openSM() {
            document.getElementById("mysidemenu").style.width= "450px";
            document.getElementById("content").style.marginLeft= "450px";
        }
       function closeSM() {
            document.getElementById("mysidemenu").style.width= "0px";
            document.getElementById("content").style.width= "0px";
        }
    </script>
</form>

<!-- table -->
    <center>
        <form action="/product/search" method="POST">
	        <div class="wrap">
          <div class="search">
          <input type="text" class="search_text" placeholder="Search product" name="name" required maxlength="30" required>
	      	<input id="search_btn" type="submit" value="Search" name="search">
          </div>
          </div>
        </form>
        <br><br>
    <table class="tbl" border="1" style="width: 1200px;">
        <tr>
            <th>Id</td>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{# each product}}
        <tr>
            <td>{{_id}}</td>
            <td>{{Name}}</td>
            <td>{{[Price]}}</td>
            <td>{{Category}}</td>
            <td><img src='../product/photo/{{_id}}' alt="" width="200px" height="150px"></td>
            <td>{{Description}}</td>
            <td><a href="/product/update?id={{_id}}"><button class="frm_inline">Update</button></a></td>
            <td><a href="/product/delete?id={{_id}}"><button class="frm_inline">Delete</button></a></td>
        </tr>  
        {{/each}}
    </table>
    </center>
</body>
</html>